@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    font-family: 'East Sea Dokdo'
}

*{
    box-sizing: border-box;
}

#game{
    width: 100%;
    height: 100vh;
    background-image: url('../img/Background/blue-background.jpg');
    background-size: cover;
    background-position: center center;
}

 canvas {
  background-image: url('../img/init/winterland.png');
  background-size:contain ;
  position: absolute;
  left: 50%;
  top: 55%;
  width: 65%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 20px solid white;
} 


#title{
    text-align: center;
    font-size: 6rem;
    color: white;
    height: 20%;
    padding-top: 2%;
}
#controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin-left: 5%;
    

}

.start{
    
    
    border: 3px solid white; 
    width: 10%;
    height: 10%;
    background-color: turquoise;
    font-family: 'East Sea Dokdo';
    font-size: 3rem;
    color: white;
    margin: 40% 40%;
    border-radius: 25px;
    position: absolute;
    z-index: 100
    
    
}

.pause{
    
    
    border: 3px solid white; 
    width: 10%;
    height: 10%;
    background-color: turquoise;
    font-family: 'East Sea Dokdo';
    font-size: 3rem;
    color: white;
    margin: 2% 0;
    border-radius: 25px;
    
}

.resume{
    
    
    border: 3px solid white; 
    width: 10%;
    height: 10%;
    background-color: rgb(115, 164, 187);
    font-family: 'East Sea Dokdo';
    font-size: 3rem;
    color: white;
    margin: 2% 0;
    border-radius: 25px;
    
}

.reload{
    
    
    border: 3px solid white; 
    width: 10%;
    height: 10%;
    background-color: turquoise;
    font-family: 'East Sea Dokdo';
    font-size: 3rem;
    color: white;
    margin: 2% 0;
    border-radius: 25px;
    
}

#volume-btn{
    

    width: 10%;
    height: 10%;
    margin: 3% 0 1% 0;
    border-radius: 50px;
    
}

#sounds-btn{
    
    width: 10%;
    height: 10%;
    margin: 1% 0 3% 0;
    border-radius: 50px;
    
}

.musicON{
    width: 10%;
    height: 10%;
    background-image: url('../img/Buttons/Music_BTN.png');
    background-size: cover;
    background-repeat: no-repeat
}

.musicOFF{
    width: 10%;
    height: 10%;
    background-image: url('../img/Buttons/Music_BTN_Off.png');
    background-size: cover;
    background-repeat: no-repeat
}

.soundsON{
    width: 10px;
    height: 10px;
    background-image: url('../img/Buttons/Sound_BTN.png');
    background-size: cover;
    background-repeat: no-repeat
}

.soundsOFF{
    width: 10px;
    height: 10px;
    background-image: url('../img/Buttons/Sounds_BTN_Off.png');
    background-size: cover;
    background-repeat: no-repeat
}

.musicOFF{
    width: 10%;
    height: 10%;
    background-image: url('../img/Buttons/Music_BTN_Off.png');
    background-repeat: no-repeat
}


button:hover{
    background-color:rgb(115, 164, 187);
    cursor: pointer
}

.hide{
    display: none;
}

#counter{
    display: flex;
    flex-direction: row;
}

#counter h1{
    align-self: flex-start;
}